<div class="container" style="height: 700px">
	<div class="row p-3">
		<div class="col-2 my-3">
			<h5 class="text-center" style="background-color: #6c757d36">ジャンル編集</h5>
		</div>
	</div>

	<%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
		<div class="form-group row mx-5">
			<label class="col-2 offset-md-1 col-form-label">ジャンル名</label>
			<div class="col-3 mr-5">
				<%= f.text_field :name, class: "form-control" %>
			</div>
			<div class="col-2">
				<%= f.submit "変更を保存", class: "btn btn-success" %>
			</div>
		</div>
	<% end %>
</div>